<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Filmology</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/styles/font-awesome.min.css"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles/style.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles/responsive.css') }}"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="{{ url_for('static', filename='logo.png') }}"
        />
        <link
            rel="icon" type="image/png"
            sizes="32x32"
            href="{{ url_for('static', filename='logo.png') }}"
        />
        <link
            rel="icon" type="image/png"
            sizes="16x16"
            href="{{ url_for('static', filename='logo.png') }}"
        />
        <link rel="manifest" href="/site.webmanifest" />
    </head>
    <body>
        <!--navbar-->
        <nav class="navbar glass" style="height: 70px">
            <span
                ><a href="{{ url_for('index') }}" style="display: flex; align-items: center"
                    ><img
                        class="img2"
                        src="{{ url_for('static', filename='logo.png') }}"
                        width="45"
                        style="margin: -25px -10px -25px -20px"
                    />
                    <h1 class="logo">&nbsp;Filmology</h1></a
                ></span
            >
            <ul class="nav-links">
                <li><a href="{{ url_for('index') }}" id="pri" class="cir_border">Home</a></li>
                <li><a href="{{ url_for('index') }}#features" id="sec" class="cir_border">Features</a></li>
                <li><a href="#recommendation" id="tri" class="active cir_border">Recommendation</a></li>
                <li><a href="{{ url_for('index') }}#about" id="quad" class="cir_border">About</a></li>
                <li><a href="{{ url_for('index') }}#blog" id="quint" class="cir_border">Blog</a></li>
                <li><a href="{{ url_for('index') }}#team" id="hex" class="cir_border">Team</a></li>
                <li><a href="{{ url_for('index') }}#contact" id="hept" class="cir_border">Contact</a></li>
                <li>
                    <div>
                        <input
                            type="checkbox"
                            class="checkbox dark"
                            id="checkbox"
                        />
                        <label for="checkbox" class="label">
                            <i class="fa fa-moon-o"></i>
                            <i class="fa fa-sun-o"></i>
                            <div class="ball"></div>
                        </label>
                    </div>
                </li>
            </ul>
            <img src="./static/menu-btn.png" alt="" class="menu-btn" />
        </nav>
        <!--navbar-->

        <section class="recommendation" id="recommendation">
            <div class="recommendation-content">
                <h1>FIND YOUR NEXT MOVIE</h1>
                <div class="line"></div>
                <p>
                    "Movies transport us to different worlds, make us feel, think, and explore emotions in ways we never imagined."
                    <br />Discover new films that match your taste with Filmology's recommendations.
                </p>
                <form action="{{ url_for('recommendation') }}#movie-details" method="POST">
                    <input type="text" name="titre" placeholder="Enter a movie title..." required>
                    <button type="submit" class="ctn">Get Recommendations</button>
                </form>
            </div>
        </section>

        <!-- Movie Researched Details -->
        <section id="movie-details" class="movie-details">
            <div class="container">
                {% if movie_exists %}
                <h2>Details for "{{ movie_details.title }}":</h2>
                <div class="row movie-details-row">
                    <div class="col-md-4 movie-poster">
                        <img src="https://image.tmdb.org/t/p/w500{{ movie_details.poster_path }}" alt="{{ movie_details.title }}" class="img-fluid">
                    </div>
                    <div class="col-md-8 movie-info">
                        <p><strong>Release Date:</strong> {{ movie_details.release_date }}</p>
                        <p><strong>Overview:</strong> {{ movie_details.overview }}</p>
                    </div>
                </div>

                {% else %}
                <p>No details available for this movie. It might not exist.</p>
                {% endif %}
            </div>
        </section>

        <!-- Recommendation Results -->
        <section id="results" class="recommendations">
            <div class="container">
                {% if last_query %}
                    {% if not recommendations_empty %}
                        <h2>Recommendations for "{{ last_query }}":</h2>
                        <div class="row justify-content-center" style="margin-bottom: 30px;">
                            {% for film in recommandations %}
                            <div class="col-md-3 film" style="margin-bottom: 30px;">
                                {% if film.poster %}
                                <a href="{{ url_for('movie_detail', title=film.titre) }}">
                                    <img src="{{ film.poster }}" alt="{{ film.titre }}" class="img-fluid" style="border-radius: 10px;">
                                </a>
                                {% else %}
                                <p>No poster available</p>
                                {% endif %}
                                <p class="film-title">{{ film.titre }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </section>
        <!-- End Recommendation Results -->

        <!-- up scroll -->
        <i class="arrow"  onclick="topFunction()" id="upbtn"></i>
        <!-- end -->
        <!--footer-->
        <section class="footer">
            <span
                >Developed By Mohamed Derfoufi | &#169; 2024 All rights
                reserved.
            </span>
        </section>
        <!--footer-->

        <script>
            const menuBtn = document.querySelector(".menu-btn");
            const navlinks = document.querySelector(".nav-links");

            menuBtn.addEventListener("click", () => {
                navlinks.classList.toggle("mobile-menu");
            });
        </script>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="{{ url_for('static', filename='styles/script.js') }}"></script>
    </body>
</html>